

.fade-in{
  animation: fadeIn 0.8s ease-in-out ;

}
.fade-out{
  animation: fadeOut 0.8s ease-in-out ;

}


@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateX(-100%);
    border: none;
  }
  to{
    opacity: 1;
    transform: translateX(0);
  
  }
  
}
@keyframes fadeOut {
  from{
    opacity: 0;
    transform: translateX(100%);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
  
}
